<div style="display: grid">
  <p style="text-align: center">Wybierz wszystkie obrazki przedstawiające krajobraz <span style="font-weight: bold">STREFY UMIARKOWNANEJ</span>.</p>
  <div style="display: grid; grid-template: auto auto auto / auto auto auto ;">

    <mat-checkbox *ngFor="let img of images"
                  class="checkbox-button"
                  (click)="img.isSelected = !img.isSelected"
                  [ngClass]="img.isSelected ? 'checkbox-selected' : ''"
    >
      <img [src]="img.path" class="image">
    </mat-checkbox>

  </div>
</div>
